* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* text-align: center; */
  display: block;
  min-height: 100vh;
}

.Selector {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}


.number {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
}

.AddButtons {
  float: right;
  width: 40%;
}

.SubButtons {
  float: left;
  width: 40%;
}






/* .Apps {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */